* {
    padding: 0;
    margin: 0;
}

.header {
    border-bottom: 1px solid #e6e6e6;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    height: 100px;
    align-items: center;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input {
    display: flex;

}

form {
    display: flex;
}

.input-txt {
    width: 317px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
}

.input-txt::placeholder {
    padding: 15px;
}

.browse-but {
    display: block;
    width: 87px;
    height: 38px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    position: relative;
}

.mega-box-header {
    position: absolute;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: 20px;
    top: 34px;
    display: none;
}

.browse-but:hover .mega-box-header {
    display: block;
    justify-content: flex-start;
    background-color: #fff;
    z-index: 1;
}

.mega-box-header:before {
    content: " ";
    display: block;
    width: 14px;
    height: 14px;
    background-color: #fff;
    position: absolute;
    top: -8px;
    left: 29px;
    transform: rotate(45deg);
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
}

.mega-link-header {
    display: block;
    text-decoration: none;
    color: #646464;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}

.mega-link-header:hover {
    color: #f16d7f;
}

.search-but {
    width: 40px;
    border: 1px solid #e6e6e6;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-brand {
    font-family: "Lato - Light";
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.68px;
    line-height: normal;
    width: 93px;
    height: 19px;
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 32px;
    text-align: center;
    margin-left: 13px;
    margin-right: 37px;
}

.brand-d {
    color: #f16d7f;
    font-family: "Lato - Black";
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.68px;
    line-height: normal;
}

.header-right {
    display: flex;
}

.cart-icon {
    margin-right: 26px;
    background: none;
    border: none;
}

.btn-myacc {
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    color: #ffffff;
    font-family: Lato;
    font-size: 15px;
    border: none;
}

.btn-myacc:hover {
    background-color: #fff;
    color: #f16d7f;
    border: 1px solid #f16d7f;
}

.mega-menu {
    display: flex;
    height: 51px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

}

.menu-list {
    list-style-type: none;
    position: relative;
}

.menu-list:hover .mega-box {
    display: flex;
    z-index: 1;
}

.menu-link:hover {
    color: #f16d7f;
}

.menu-link {
    justify-content: center;
    display: block;
}

.menu-link {
    display: block;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #222222;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
}

.mega-box {
    position: absolute;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: 20px;
    top: 48px;
    display: none;
}

.mega-box:before {
    content: " ";
    display: block;
    width: 14px;
    height: 14px;
    background-color: #fff;
    position: absolute;
    top: -8px;
    left: 29px;
    transform: rotate(45deg);
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
}

.mid:hover .mega-box {
    left: -300px;
}

.mid:hover .mega-box:before {
    left: 325px;
}

.last:hover .mega-box {
    right: 0;
    left: auto;
}

.last:hover .mega-box:before {
    right: 43px;
    left: auto;
}

.mega-heading {
    color: #232323;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid #e6e6e6;
    text-transform: uppercase;
    width: 235px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.h3-mega {
    margin-top: 18px;
}

.mega-link {
    display: block;
    text-decoration: none;
    color: #646464;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}

.mega-link:hover {
    color: #f16d7f;
}

.mega-item {
    margin-right: 45px;
}

.mega-item:last-of-type {
    margin-right: 0;
}

.sale-txt {
    position: relative;
    margin-top: 15px;
}

.mega-sale {
    position: absolute;
    top: 60px;
    left: 170px;
    color: #ffffff;
    font-family: "Lato - Black";
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
}


/* После HEADERA */

/* SLIDER */
.slider {
    position: relative;
    margin: 0 auto;
    height: 665px;
    width: 100%;
    background-color: #e8e8e8;
}

.bg-slider {
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: auto;
}

.slid-pal {
    position: absolute;
    top: 270px;
    left: 180px;
}

.slid-text {
    margin: 0;
    padding: 0;
    display: flex;
    width: 485px;
    height: 92px;
    position: absolute;
    top: 262px;
    left: 200px;
}

.slid_sp0 {
    font-size: 55px;
    font-style: normal;
    letter-spacing: 1px;
    line-height: normal;
    text-align: right;
    text-transform: uppercase;
    font-family: "Lato - Black"
}

.slid_sp1 {
    font-size: 35px;
    font-style: normal;
    letter-spacing: 1px;
    line-height: normal;
    text-align: right;
    text-transform: uppercase;
    font-family: "Lato - Black"
}

.slid_sp2 {
    font-size: 35px;
    color: #f16d7f;
    font-style: normal;
    letter-spacing: 1px;
    line-height: normal;
    text-align: right;
    text-transform: uppercase;
    font-family: "Lato - Black"
}

/* HOT_GOODS_SECTION
 */
.hot-sale {
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
}

.hot_man_link {
    display: block;
    margin: 10px;
    position: relative;
}

.hot_woman_link {
    display: block;
    margin: 10px;
    position: relative;
}

.hot_acces_link {
    display: block;
    margin: 20px 10px 10px 10px;
    position: relative;
    width: 560px;
    height: 261px;
    background-color: #dadad2;
}

.hot_kids_link {
    display: block;
    margin: 20px 10px 10px 10px;
    position: relative;
}

.hot_acces_link img {
    display: block;
    align-self: flex-end;
    position: absolute;
    left: auto;
    right: 0;
}

.hot_man {
    background-color: #ffffff;
    position: absolute;
    top: 25px;
    align-items: center;
    padding: 19px 20px 19px 16px;
}

.hot_acces {
    background-color: #ffffff;
    position: absolute;
    top: 25px;
    padding: 18px 16px;
}

.hot_woman {
    background-color: #ffffff;
    position: absolute;
    top: 25px;
    padding: 18px 16px 19px 16px;
}

.hot_kids {
    background-color: #ffffff;
    position: absolute;
    top: 25px;
    padding: 19px 16px 21px 16px;
}
.hot_desc {
    color: #222222;
    font-family: "Lato - Black";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.45px;
    text-transform: uppercase;
}
.hot_head {
    color: #f16d7f;
    font-size: 30px;
    font-style: normal;
    letter-spacing: 0.75px;
    line-height: normal;
    text-transform: uppercase;
}
/* Секция ТОвары */
.item-sec {
    margin-top: 100px;
}

.item-box-header {
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;

}

.featured-h {
    display: block;
    color: #222222;
    font-family: Lato;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 54px;
    text-align: center;
    font-style: normal;
    letter-spacing: 0.75px;
    line-height: normal;
    margin-bottom: 16px;
}

.featured-p {
    color: #9f9f9f;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 54px;
    text-align: center;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: normal;

}

.item-box {
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    width: 263px;
    position: relative;
    margin-top: 39px;

}

.item:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.item-pic {
    width: 100%;
}

.item-link {
    display: block;
    text-decoration: none;
}

.text-box {
    padding: 20px;
}

.txt-desc {
    width: 157px;
    height: 11px;
    color: #222222;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 17px;
}

.txt-price {
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    width: 50px;
    height: 15px;
    color: #f16d7f;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
}

.item:hover .item-pic {
    filter: brightness(60%);
}

.cart-box {
    display: none;
    position: absolute;
    top: 98px;
    justify-content: center;
    width: 100%;
}

.cart-link {
    display: flex;
    padding: 10px;
    border: 1px solid #fff;
    text-decoration: none;
    align-items: center;
}

.add-txt {
    color: #ffffff;
    font-family: Lato;
    font-size: 13px;
    font-weight: 700;
    margin-left: 8px;
}

.item:hover .cart-box {
    display: flex;
}

.icon-insta {
    display: flex;
}

.fa-brands {
    color: green;
    font-size: 50px;
}